/.git/
/ini_data/
/tmp/*
/.vscode/
/.idea/
/__pycache__/
bin/*
lib/*
lib64/*
lib64
include/*
*/tmp/*
tmp*.*
*/tmp_images/
*/tmp_photos/
*/tmp_uploads/
/tmp_log/*
*/banners/*
langdetect/*
nltk_data/*
*.cfg
*.crt
*.key
*.Identifier
*.tgz
*.zip
*.sql
*.log*
*.ca-bundle
*.p7b
*.ep_temp*
*.old
psw.*
banner*.*
*.session*
*.json
*.watchdog
*.db
*.sqbpro
*.txt
*.py_new.py
*.2DA
!languages.json
!bot_menu.txt







